* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.page {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 100px;
}
